body {
    background-color: #ffebee;
    font-family: 'Montserrat', sans-serif;
}
.about {
    font-weight: bold;
    color: #880e4f;
}
h1, h2 {
    font-family: 'Akaya Telivigala', 'Roboto', cursive;
    color: #560027;
}
h2::first-letter {
    font-size: 1.3em;
}
img {
    width: 30%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p::first-letter {
    font-size: 1.5em;
}